projetoiot/node-red/data/flows.json
[
    {
        "id": "ac56580f02b26884",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "59b87fe225053ad8",
        "type": "ui_group",
        "name": "Inicio",
        "tab": "d2923da603c3b101",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d2923da603c3b101",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c90df2f4b6f2275e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "15aa7fdbba6de9da",
        "type": "ui_group",
        "name": "Grafico",
        "tab": "d2923da603c3b101",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5ba19cf27836621",
        "type": "ui_button",
        "z": "ac56580f02b26884",
        "name": "",
        "group": "59b87fe225053ad8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "help",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "1cb0e2d4217c7562",
                "966ed17ca0b18994"
            ]
        ]
    },
    {
        "id": "1cb0e2d4217c7562",
        "type": "debug",
        "z": "ac56580f02b26884",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "a236a8c419bad4c1",
        "type": "ui_date_picker",
        "z": "ac56580f02b26884",
        "name": "",
        "label": "date",
        "group": "59b87fe225053ad8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 490,
        "y": 280,
        "wires": [
            [
                "1cb0e2d4217c7562"
            ]
        ]
    },
    {
        "id": "b81f46d68426037e",
        "type": "ui_form",
        "z": "ac56580f02b26884",
        "name": "",
        "label": "",
        "group": "59b87fe225053ad8",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "muito",
                "value": "doido",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "doido": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "a5ba19cf27836621",
                "a236a8c419bad4c1"
            ]
        ]
    },
    {
        "id": "05865cb291f3ec85",
        "type": "ui_gauge",
        "z": "ac56580f02b26884",
        "name": "",
        "group": "15aa7fdbba6de9da",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "8",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "966ed17ca0b18994",
        "type": "function",
        "z": "ac56580f02b26884",
        "name": "a",
        "func": "var contador = contador + 1;\nvar msg = contador;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 200,
        "wires": [
            [
                "05865cb291f3ec85"
            ]
        ]
    }
]