projetoiot/node-red/data/flows.json
[
    {
        "id": "ac56580f02b26884",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "47f0cdb8dff9a31e",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "59b87fe225053ad8",
        "type": "ui_group",
        "name": "ESP32",
        "tab": "d2923da603c3b101",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d2923da603c3b101",
        "type": "ui_tab",
        "name": "Dashboard IOT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c90df2f4b6f2275e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "IOT com ESP32",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a3162002b2077c4a",
        "type": "mqtt-broker",
        "name": "srv-maike",
        "broker": "8ddcd71cf9fa49d5826febdaa267290f.s2.eu.hivemq.cloud",
        "port": "8883",
        "tls": "825e51829e855e3d",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "825e51829e855e3d",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "mqtt.key",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "5eac19d116ec3450",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "pgsql_mqtt",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "true",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "iot",
        "userFieldType": "str",
        "password": "iot",
        "passwordFieldType": "str"
    },
    {
        "id": "de6e8069bcd90e5d",
        "type": "mqtt out",
        "z": "ac56580f02b26884",
        "name": "IOT server new",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a3162002b2077c4a",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "fec42b399b30ba63",
        "type": "ui_switch",
        "z": "ac56580f02b26884",
        "name": "",
        "label": "LED 1",
        "tooltip": "",
        "group": "59b87fe225053ad8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "esp32/led/1",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 570,
        "y": 100,
        "wires": [
            [
                "de6e8069bcd90e5d",
                "b88c3f85db4962b8"
            ]
        ]
    },
    {
        "id": "0e6cf60bd0df3218",
        "type": "ui_switch",
        "z": "ac56580f02b26884",
        "name": "",
        "label": "LED 2",
        "tooltip": "",
        "group": "59b87fe225053ad8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "esp32/led/2",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 570,
        "y": 160,
        "wires": [
            [
                "de6e8069bcd90e5d",
                "b88c3f85db4962b8"
            ]
        ]
    },
    {
        "id": "86e8fb8fa76d0e38",
        "type": "mqtt in",
        "z": "ac56580f02b26884",
        "name": "IOT Sub New",
        "topic": "esp32/led/1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a3162002b2077c4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "fec42b399b30ba63"
            ]
        ]
    },
    {
        "id": "f4a046c4cc9d0d6f",
        "type": "mqtt in",
        "z": "ac56580f02b26884",
        "name": "IOT Sub New",
        "topic": "esp32/led/2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a3162002b2077c4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "0e6cf60bd0df3218",
                "d9342b404e629603"
            ]
        ]
    },
    {
        "id": "b88c3f85db4962b8",
        "type": "change",
        "z": "ac56580f02b26884",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "ligado",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "desligado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d9342b404e629603",
        "type": "csv",
        "z": "ac56580f02b26884",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "460b03438147b673"
            ]
        ]
    },
    {
        "id": "cbf8465b432a7362",
        "type": "debug",
        "z": "ac56580f02b26884",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "460b03438147b673",
        "type": "function",
        "z": "ac56580f02b26884",
        "name": "function 1",
        "func": "var valor = msg.payload.value;\nvar sensor = \"led\"\n\nmsg.payload={}\nmsg.payload.valor = valor\nmsg.payload.sensor = sensor\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "cbf8465b432a7362"
            ]
        ]
    },
    {
        "id": "735aa36a205ecbca",
        "type": "postgresql",
        "z": "ac56580f02b26884",
        "name": "",
        "query": "SELECT * FROM ;",
        "postgreSQLConfig": "5eac19d116ec3450",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 710,
        "y": 520,
        "wires": [
            []
        ]
    }
]